* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-3 {
    -webkit-line-clamp: var(--line-clamp, 3);
}

.btn {
    display: inline-block;
    border-radius: 40px;
    border: 1.5px solid var(--primary-color);
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-family: Public Sans;
    font-size: 1.8rem;
    min-width: 173px;
    font-weight: 500;
    line-height: 57px;
    height: 57px;
    transition: 0.25s;
}

.btn:hover {
    background: #e2eddf;
    color: var(--primary-color);
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.section-heading__line {
    margin-left: 10px;
    margin-bottom: 10px;
}

.section-title {
    position: relative;
    margin-left: 53px;
    color: #152427;
    font-weight: 500;
    line-height: 1.63;
}

.section-title::before {
    position: absolute;
    top: 11px;
    left: -44px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #152427;
}

.section-desc {
    color: #7d8188;
    font-weight: 500;
}

/* Header */
.header__top {
    padding-top: 28px;
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: 387px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    position: relative;
    display: inline-block;
    padding: 8px 19px;
    font-family: Public Sans;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.navbar__link:hover,
.navbar__link--active {
    color: #152427;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.navbar__link--active::after {
    display: inline-block;
    width: 16px;
    height: 2px;
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0;
    background: var(--primary-color);
}

.header__btn {
    margin-left: auto;
}

.header__separate {
    margin-top: 13px;
    width: 1140px;
    height: 1px;
    background: linear-gradient(90deg, #fff 0%, #dddcdc 51.09%, rgba(212, 212, 212, 0) 99.68%);
}

.hero {
    padding: 60px 0 88px;
    display: flex;
    position: relative;
}

.hero__content {
    width: 41%;
    flex-shrink: 0;
}

.hero__heading {
    margin-top: 43px;
    width: 78.6%;
    color: #152427;
    font-family: Public Sans;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    width: 73%;
    color: #575d5e;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.hero-cta {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero-cta:hover {
    cursor: pointer;
}

.hero-cta:hover .hero-cta__text {
    color: #83a17d;
}

.hero-cta:hover .hero__rotate-btn {
    rotate: 135deg;
}

.hero-cta:hover .hero-cta__btn {
    cursor: pointer;
    rotate: 225deg;
}

.hero__rotate-btn {
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    rotate: -45deg;
    padding: 4px;
    transition: 0.25s;
}

.hero-cta__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83a17d;
    flex-shrink: 0;
    border: none;
    rotate: 45deg;
}

.hero-cta__text {
    color: #152427;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero__media {
    padding-right: 25px;
}

.hero__thumb {
    position: relative;
    display: grid;
    height: 543px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.hero__thumb::after {
    content: "";
    align-self: center;
    justify-self: center;
    position: absolute;
    display: inline-block;
    border-radius: 340px;
    filter: blur(137px);
    width: 340px;
    height: 340px;
    background: #4dbb9a;
}

.hero__img {
    width: 100%;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    z-index: 1;
}

.hero__img:nth-of-type(2) {
    align-self: flex-end;
}

.section-vector__line--up {
    position: absolute;
    top: 28px;
    left: 297px;
    z-index: 1;
}

.section-vector__avstract--up {
    position: absolute;
    top: 36px;
    left: 255px;
    z-index: 2;
}

.section-vector--down {
    z-index: 1;
}

.section-vector__line--down {
    position: absolute;
    rotate: 180deg;
    right: 76px;
    bottom: 43px;
    z-index: 1;
}

.section-vector__avstract--down {
    position: absolute;
    rotate: 180deg;
    right: 34px;
    bottom: 51px;
    z-index: 2;
}

/* Brand */
.brand {
    margin-top: 42px;
}

.brand__inner {
    border-radius: 100.5px;
    background: #e2eddf;
    padding: 76px 121px;
}

.brand__logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand__img--agworld {
    margin-left: 11px;
}

/* Services */
.service {
    margin-top: 106px;
}

.service__heading {
    width: 46%;
}

.service__row {
    display: flex;
    justify-content: space-between;
}

.service__cta {
    align-self: flex-end;
    display: flex;
    margin-right: 73px;
    margin-bottom: 9px;
    column-gap: 17px;
}

.service__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #e2eddf;
    color: #152427;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    flex-shrink: 0;
}

.service__btn:hover {
    cursor: pointer;
    color: #fff;
    background: #143c3c;
}

.service__btn--next {
    rotate: 180deg;
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item {
    border-radius: 20px;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    cursor: pointer;
}

.service-item:hover .service-item__info {
    padding-left: 18px;
}

.service-item__thumb {
    width: 370px;
    height: 318px;
    overflow: hidden;
}

.service-item__img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.service-item__info {
    padding: 24px 0;
    transition: 0.25s;
}

.service-item__heading {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__desc {
    width: 268px;
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.72;
}

/* About */
.about {
    margin-top: 149px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__media {
    width: 52.7%;
    padding-top: 13px;
    position: relative;
}

.about__images {
    height: 557px;
    display: flex;
    column-gap: 21px;
}

.about__img {
    border-radius: 210px;
    width: 284px;
    height: 480px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:first-child {
    align-self: flex-end;
}

.about__vector {
    position: absolute;
    top: -124px;
    left: -209px;
    rotate: 12deg;
}

.about__statistics {
    position: absolute;
    bottom: 8px;
    right: -9px;
    font-family: Public Sans;
    padding: 19px 23px 11px;
    display: inline-block;
    width: 143px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about__statistics--heading {
    color: #152427;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about__statistics--desc {
    margin-top: 6px;
    color: #575d5e;
    font-size: 1rem;
    line-height: 1.4;
}

.about__statistics--percent {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    padding-bottom: 6px;
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about__statistics--percent::before {
    position: absolute;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
    z-index: 1;
}

.about__statistics--percent::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 96px;
    height: 2px;
    content: "";
    border-radius: 10px;
    background: #eaeaea;
}

.about__statistics--loading {
    color: #152427;
    text-align: end;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about__statistics--dot {
    margin-top: 3px;
}

.about__statistics--row {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__statistics--label {
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about__statistics--avatar {
    display: flex;
}

.about__statistics--avatar-img {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff;
    margin-left: -6px;
}

.about__statistics--avatar-img:first-child {
    margin-left: 0;
}

.about__content {
    width: 42.5%;
}

.about__heading {
    margin-top: 18px;
    margin-bottom: 11px;
}

.about__desc16 {
    line-height: 1.63;
}

.about__info {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 36px;
    border-bottom: 1px solid #83a17d;
    padding-bottom: 20px;
}

.about__desc14 {
    font-size: 1.4rem;
    line-height: 1.72;
}

/* Process */
.process {
    margin-top: 115px;
}

.process__heading {
    margin-top: 20px;
    width: 486px;
}

.process-list {
    margin-top: 81px;
    display: grid;
    grid-auto-rows: 185px;
}

.process-item {
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #83a17d;
    transition: 0.25s;
}

.process-item:hover {
    border-radius: 33px;
    background: #e2eddf;
    border-bottom: none;
    padding-left: 30px;
}

.process-item:hover .process-item__step-heading::after {
    content: "Learn More";
    position: absolute;
    bottom: -33px;
    left: 3px;
    width: 100px;
    color: #575d5e;
    font-size: 1.8rem;
    text-decoration: underline;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
}

.process-item__step-number {
    min-width: 110px;
    color: var(--primary-color);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.73;
    margin-right: 50px;
}

.process-item__step-heading {
    position: relative;
    color: #152427;
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process-item__images {
    position: absolute;
    bottom: 0;
    right: 92px;
    z-index: 1;
}

.process-item__img {
    width: 450px;
    height: 444px;
}

.process-item__desc {
    margin-left: auto;
    margin-right: 41px;
    width: 572px;
    color: #7d8188;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

/* Project */
.project {
    margin-top: 148px;
    background: var(--primary-color);
    padding: 116px 0 63px;
}

.project__inner {
    position: relative;
}

.project__top {
    display: flex;
}

.project__heading {
    width: 503px;
    color: #e7f9f9;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.project__more {
    margin-left: auto;
    margin-right: 50px;
    width: 530px;
}

.project__desc {
    color: #6a8383;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.project__cta {
    display: flex;
    margin-top: 13px;
    align-items: center;
}

.project__cta:hover .project__all,
.project__cta:hover .project__arrow {
    cursor: pointer;
    color: #83a17d;
}

.project__arrow {
    color: #e2eddf;
}

.project__all {
    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    margin-right: 26px;
}

.project__media {
    margin-top: 65px;
    position: relative;
}

.project__video {
    width: 100%;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.project__video-btn {
    position: absolute;
    top: 213px;
    left: 511px;
    width: 118px;
    height: 118px;
    border-radius: 118px;
    background: black;
    opacity: 0.8;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}

.project__vector {
    position: absolute;
    top: 112px;
    right: -147px;
    rotate: 71deg;
}

.project__avstract {
    position: absolute;
    right: -51px;
    top: 87px;
}

/* Feature */
.feature {
    margin-top: 140px;
}

.feature__heading {
    text-align: center;
    margin: 0 auto;
    width: 520px;
}

.feature__desc {
    margin: 20px auto 0;
    width: 547px;
    text-align: center;
    line-height: 1.63;
}

.feature__list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.feature-item {
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.feature-item:hover {
    margin-top: -59px;
    cursor: pointer;
    background: #fff;
    border: none;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.feature-item__heading {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.feature-item__desc {
    width: 264px;
    margin-top: 12px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.72;
}

/* Blog */
.blog {
    margin-top: 184px;
}

.blog__row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__heading {
    width: 571px;
}

.blog__desc {
    width: 409px;
    line-height: 1.63;
}

.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog-item__img {
    display: block;
    width: 360px;
    height: 317px;
    border-radius: 40px 40px 0px 0px;
}

.blog-item__info {
    padding: 26px 18px 12px 0;
    transition: 0.25s;
}

.blog-item__label {
    display: inline-block;
    padding: 7px 0;
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background: #e2eddf;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    transition: 0.25s;
}

.blog-item__heading {
    width: 295px;
    height: 90px;
    margin-top: 13px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.blog-item__separate {
    width: 100%;
    height: 1px;
    background: #c4c4c4;
}

.blog-item__date {
    text-align: end;
    margin-top: 16px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.blog-item:hover .blog-item__label {
    background: var(--primary-color);
    color: #fff;
}

.blog-item:hover .blog-item__img,
.blog-item:hover .blog-item__heading {
    cursor: pointer;
}

.blog-item:hover .blog-item__info {
    padding-left: 30px;
    padding-right: 33px;
    border-radius: 0px 0px 20px 20px;
    background: var(--text-color-white, #fff);
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

/* Footer */
.footer {
    margin-top: 102px;
    background: var(--primary-color);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__left {
    padding: 72px 0 45px;
}

.footer__heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: normal;
}

.footer__form {
    display: flex;
    width: 354px;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
}

.footer__email {
    min-width: 183px;
    border: none;
    outline: none;
    background: transparent;
    color: #6a8383;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.footer__email::placeholder {
    color: #6a8383;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.submit__email {
    margin-top: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.submit__email:hover {
    opacity: 0.8;
}

.footer__form--separate {
    margin-top: 32px;
    width: 354px;
    height: 1px;
    background: #6a8383;
}

.footer__socials {
    margin-top: 47px;
    display: flex;
    column-gap: 22px;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
}

.social-item:hover {
    background: #a75325;
}

.footer__row {
    margin-top: 94px;
    display: flex;
    column-gap: 50px;
}

.footer__sub-heading {
    color: #fff;
    margin-bottom: 6px;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.footer__link {
    color: #6a8383;
    font-family: Public Sans;
    font-weight: 500;
    line-height: 2.25;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__separate {
    width: 1140px;
    height: 1px;
    background: linear-gradient(90deg, #143c3c 2.28%, #295a5a 55.65%, rgba(38, 82, 82, 0) 102.06%);
}

.footer__copyright {
    text-align: center;
    padding: 20px 0 30px;
    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}
